/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#menuListPane{
	-fx-background-color: #d3d3d3;
}

.sidebar{
	-fx-background-color:  #8a2be2;
}

#menuListPane {
    -fx-translate-x: -400px; /* Initially hidden */
}

.animateSidebarContent {
}

.highlightLabelsOnHover{
	-fx-background-color: #bbbbbb;
}

.adminOptions{
	-fx-font-weight: bold;
}

.bgAnchorPane{
	-fx-background-color: #555555;
}

.main-pane{
	-fx-background-color: #555555;
}

.user-pass, .user-in{
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-border-width: 10px;
}

.login {
    -fx-background-color: linear-gradient(#ce48f5, #b857ea);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.login, .signupForLFC {
    -fx-cursor: hand;
}

.signupForLFC:hover{
    -fx-underline: true;
}

.createAccount{
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.login:hover, .createAccount:hover {
    -fx-effect: innershadow(two-pass-box, rgba( 115, 69, 125, 0.5), 10, 0.5, 0, 0);
}

.backButton {
}